*{
  margin:0;
  padding:0; 
}
:root {
  /**** Colors ****/
  /*intro and email sign up background*/
  --dark-blue-1: hsl(217, 28%, 15%);
  /*main background*/
  --dark-blue-2: hsl(218, 28%, 13%);
  /*footer background*/
  --dark-blue-3: hsl(216, 53%, 9%);
  /*testimonials background*/
  --dark-blue-4: hsl(219, 30%, 18%);

  /*inside call-to-action gradient*/
  --cyan: hsl(176, 68%, 64%);
  /*inside call-to-action gradient*/
  --blue: hsl(198, 60%, 50%);

  --white: hsl(0, 0%, 100%);
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: var(--dark-blue-2);
  color: var(--white);
}

/********************
 ****** HEADER ******
 ********************/
.raleway{
  font-family: 'Raleway', sans-serif;
}
header{
  height: 70px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: .8rem;
}
.logo-container{
  width: 75px;
  height: 40px;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#main-menu ul{
  display: flex;
}
#main-menu ul li{
  list-style: none;
  padding-left: 25px;
}

/*### Headings, Call-to-actions, Header Navigation
  font-family: 'Raleway', sans-serif;
*/


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
