*{
  margin:0;
  padding:0; 
}
:root {
  /**** Colors ****/
  /*intro and email sign up background*/
  --dark-blue-1: hsl(217, 28%, 15%);
  /*main background*/
  --dark-blue-2: hsl(218, 28%, 13%);
  /*footer background*/
  --dark-blue-3: hsl(216, 53%, 9%);
  /*testimonials background*/
  --dark-blue-4: hsl(219, 30%, 18%);

  /*inside call-to-action gradient*/
  --cyan: hsl(176, 68%, 64%);
  /*inside call-to-action gradient*/
  --blue: hsl(198, 60%, 50%);

  --white: hsl(0, 0%, 100%);
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: var(--dark-blue-2);
  color: var(--white);
}

/********************
 ****** HEADER ******
 ********************/
.raleway{
  font-family: 'Raleway', sans-serif;
}
header{
  height: 70px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: .8rem;
  background-color: var(--dark-blue-1);
}
.logo-container{
  width: 75px;
  height: 40px;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#main-menu ul{
  display: flex;
}
#main-menu ul li{
  list-style: none;
  padding-left: 25px;
}

/********************
 ******* Main *******
 ********************/
.get-started-container{
  background-color: var(--dark-blue-1);
  background-image: url('../images/bg-curvy-mobile.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 150% 60%;
  position: relative;
  padding-bottom: 70px;
}
.get-started-container .svg-container{
  position: absolute;
  bottom: 0;
  top: 0;
}
.get-started-container .image-get-started{
  margin: 0 auto;
  width: 80%;
  height: 250px;
  background-image: url('../images/illustration-intro.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
}
.center{
  text-align: center;
}
.get-started-container .started-content {
  width: 85%;
  margin: 0 auto;
}
h1 {
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.6em;
  margin-bottom: 1em;
}
.get-started-container .text-content {
  font-size: .95rem;
}
.text-content {
  margin: 0 auto;
  font-size: .85rem;
  line-height: 1.5em;
  margin-bottom: 1.57em;
}
.btn-started {
  display: inline-block;
  padding: 16px 0;
  width: 75%;
  border-radius: 40px;
  background: linear-gradient(90deg,var(--cyan), var(--blue));
  color: white;
  text-decoration: none;
}

/**/
.features-container{
  width: 85%;
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 75px;
  margin: 0 auto;
}
.features-container h2,
.advantage-container h2 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.features-container div {
  margin-bottom: 30px;
}
.features-container div img{
  width: 73px;
}

/**/
.advantage-container,
.testimony-container {
  padding: 60px 0;
  width: 85%;
  margin: 0 auto;
}
.advantage-container .image-advantage {
  height: 250px;
  background-image: url('../images/illustration-stay-productive.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}
.advantage-container .text-content,
.advantage-container a{
  font-size: .85rem;
}
.advantage-container a{
  display: inline-block;
  color: var(--cyan);
  text-decoration: none;
  border-bottom: 1px solid var(--cyan);
  padding-bottom: 5px;
}

/**/
.testimony-container {
  width: 78%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.testimony-container .quotes {
  background-image: url('../images/bg-quotes.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top:-20px;
  left: 8px;
}
.testimony-container article:first-child {
  position: relative;
}
.testimony-container article {
  padding: 25px;
  background-color: var(--dark-blue-4);
  border-radius: 6px;
}
.testimony-container .text-content {
  font-size: .65rem;
  line-height: 1.8em;
}
.testimony-user-container {
  display: flex;
  align-items: center;
}
.testimony-user-container img {
  border-radius: 100%;
  width: 35px;
  margin-right: 10px;
}
.testimony-container h3 {
  font-size: .8rem;
}
.testimony-container small {
  font-size: .6rem;
}
/*### Headings, Call-to-actions, Header Navigation
  font-family: 'Raleway', sans-serif;
*/


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
