*{
  margin:0;
  padding:0; 
}
:root {
  /**** Colors ****/
  /*intro and email sign up background*/
  --dark-blue-1: hsl(217, 28%, 15%);
  /*main background*/
  --dark-blue-2: hsl(218, 28%, 13%);
  /*footer background*/
  --dark-blue-3: hsl(216, 53%, 9%);
  /*testimonials background*/
  --dark-blue-4: hsl(219, 30%, 18%);

  /*inside call-to-action gradient*/
  --cyan: hsl(176, 68%, 64%);
  /*inside call-to-action gradient*/
  --blue: hsl(198, 60%, 50%);

  --white: hsl(0, 0%, 100%);
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: var(--dark-blue-2);
  color: var(--white);
}

/********************
 ****** HEADER ******
 ********************/
.raleway{
  font-family: 'Raleway', sans-serif;
}
header{
  height: 70px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: .8rem;
  background-color: var(--dark-blue-1);
}
.logo-container{
  width: 75px;
  height: 40px;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#main-menu ul{
  display: flex;
}
#main-menu ul li{
  list-style: none;
  padding-left: 25px;
}

/********************
 ******* Main *******
 ********************/
.get-started-container{
  background-color: var(--dark-blue-1);
  background-image: url('../images/bg-curvy-mobile.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 150% 60%;
  position: relative;
}
.get-started-container .svg-container{
  position: absolute;
  bottom: 0;
  top: 0;
}
.get-started-container .image-get-started{
  margin: 0 auto;
  width: 80%;
  height: 250px;
  background-image: url('../images/illustration-intro.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
}
.center{
  text-align: center;
}
h1, 
.get-started-container p{
  width: 85%;
}
h1 {
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.6em;
  margin-bottom: 1em;
}
.text-content{
  margin: 0 auto;
  font-size: .95rem;
  line-height: 1.5em;
  margin-bottom: 1.57em;
}
.btn-started{
  display: inline-block;
  padding: 16px 0;
  width: 60%;
  border-radius: 40px;
  background: linear-gradient(90deg,var(--cyan), var(--blue));
  color: white;
  text-decoration: none;
}

/*### Headings, Call-to-actions, Header Navigation
  font-family: 'Raleway', sans-serif;
*/


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
